<!DOCTYPE html>
<html>
  <head>
    <title>NewTaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <%= button_to "タスク追加", new_task_path %><%= link_to "一覧", tasks_path %>
        <ul><li>ログイン中:<%= current_user.email %></li><li><%= link_to "マイページ", user_path(current_user.id) %></li><li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li></ul>
      <% else %>
        <p><%= link_to "ログインする", new_session_path %></p>
      <% end %>
    </header>
    <%= notice %>
    <%= yield %>
  </body>
</html>
